@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  /* Fuentes para el contenido de la pagina*/
  --font-kalam: "Kalam", cursive;
  --font-roboto: "Roboto", sans-serif;

  /* Paleta de colores */
  --principal-color: #e60000;
  --background_color_1: #1a1a1a;
  --background_color_2: #121212;
  --text_color_1: #ffffff;
  --text_color_2: #cccccc;
  --accent_color: #ff5722;
}
.light_theme {
  --principal-color: #e60000;
  --background_color_1: #ffffff;
  --background_color_2: #f5f5f5;
  --text_color_1: #000000;
  --text_color_2: #333333;
  --accent_color: #ff5722;
}
.TEST{
  --background_color_1: #1a1a1a;
  --background_color_2: #121212;
  --text_color_1: #ffffff;
  --text_color_2: #cccccc;
  --accent_color: #ff5722;
}
html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: var(--background_color_1);
  @apply font-sans;
}

