<script>
    const nav = document.getElementById('navBar');
    const divLogo = document.getElementById('logoDiv');

    if (!nav || !divLogo) {
    throw new Error('Element with id "navBar" or "logoDiv" not found');
    }

    const p = document.createElement('p');
    p.textContent = "S&J Parillada y Catering service";
    p.classList.add('text-white', 'font-bold', 'text-lg', 'ml-2', 'font-kalam');

    window.addEventListener('scroll', () => {
    if (window.scrollY > 70) {
        nav.classList.add('nav-scrolled');
        nav.classList.remove('nav-default');
        if (!divLogo.contains(p)) {
        divLogo.appendChild(p);
        }
    } else {
        nav.classList.add('nav-default');
        nav.classList.remove('nav-scrolled');
        if (divLogo.contains(p)) {
        divLogo.removeChild(p);
        }
    }
    });
</script>

<nav id="navBar" class="fixed w-full z-20 p-4 flex items-center justify-between transition-all duration-300 nav-default">
         
    <div id="logoDiv" class="flex items-center">
         <img src="/images/logo.webp" alt="Logo S&J" class="h-[40px] mr-4"/> 
    </div>    
    <ul class="flex gap-4 m-0 p-0 list-none">
        <li><a href="/" class="text-white font-bold no-underline">Inicio</a></li>
        <li><a href="/contact" class="text-white font-bold no-underline">Contacto</a></li>
        <li><a href="/events" class="text-white font-bold no-underline">Eventos</a></li>
    </ul>
</nav>

<style>
    .nav-default {
        background: linear-gradient(
        to bottom,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,0.85) 40%,
        rgba(0,0,0,0) 100%
    );
    }
    .nav-scrolled {
        background-color: var(--background_color_2);
    }
    #navBar {
        position: fixed;
        width: 100%;
        z-index: 6;
    }
    a, li{
        display: flex;
        transition: transform 0.6s;
        transform: translateY(0);
    }
    li:hover {
        border-bottom: 1px solid var(--accent_color); 
        a {
            transform: translateY(-5px);
        }
    }
    a:active {
        color: var(--accent_color);
    }
</style>
