<div>
    <!-- Fondo de la pagina -->
    <div class="hero-bg">
        <img src="/images/fondoLanding.webp" alt="Mural S&J Parrilladas y Catering Service">
        <!-- Degradado solo en el 30% inferior -->
        <div class="gradient w-full h-[30%] absolute bottom-0 left-0 bg-gradient-to-b from-transparent to-[var(--background_color_1)]"></div>
    </div>
    <!-- Contenido del Hero Section -->
<div class="flex flex-row justify-center gap-10">
    <div class="flex flex-col  text-[var(--text_color_1)] text-center min-h-screen px-4">
        <div class="z-2 mx-10">
            <h1 class="text-5xl md:text-3xl font-kalam m-4 text-wrap">
                Bienvenido a la pagina Web de </br> S&J Parrilladas y Catering Service</h1>
            <div class="bg-[var(--principal-color)] h-1 w-[60%] rounded-[10px] mx-auto"></div>
            <p class="text-xl md:text-2xl mt-10 mb-8 text-balance ">Una empresa 100% Costaricense, familiar para todo tipo de eventos empresariales, bodas, celebraciones familiares, para todas tus ocasiones especiales. Brindando Calidad y confianza desde el inicio. </p>
        </div>
    </div>
</div>
<div class="">

</div>

<style>
.hero-bg {
    position:relative ;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
}
.hero-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    .hero-bg{
        height: 70vh;
    }
    .gradient {
        bottom: -2px;
    }
}

</style>